# Question 21

In [4]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def length(self):
        return math.sqrt((self.p2.x - self.p1.x)**2 + (self.p2.y - self.p1.y)**2)

    def slope(self):
        return (self.p2.x - self.p1.x) / (self.p2.y - self.p1.y)

p1 = Point(3,4)
p2 = Point() 
s = Segment(p1,p2)

print(s.length())
print(s.slope())

5.0
0.75

# Question 22

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')

c = conn.cursor()

c.execute('''
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')
conn.commit()
sample_data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

c.executemany('INSERT INTO Weather VALUES (?, ?, ?)', sample_data)
conn.commit()

In [10]:
query = """
SELECT a.id AS Id
FROM Weather AS a
JOIN Weather AS b
ON a.recordDate = DATE(b.recordDate, '+1 day')
WHERE a.temperature > b.temperature;
"""

df = pd.read_sql(query, conn)
df

   Id
0   2
1   4

In [11]:
conn.close()

# Question 23

In [45]:
def tough(indent, n):
    if n == 1:
        print(' ' * indent + '*')
        return

    if n == 2:
        print(' ' * indent + '*')
        print(' ' * indent + '**')
        return

    half = n // 2

    # Print the top half of the pattern
    tough(indent, half)

    # Print the line with n *s
    print(' ' * indent + '*' * n)

    # Print the bottom half of the pattern with increased indentation
    tough(indent + 1, half)

tough(0, 4)

*
**
****
 *
 **